body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
} 

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

ul{
    margin: 0px;
}

body > header {
    background-color: orange;
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}
#nav-ul > li {
    padding: 8px ;
    margin: 16px ;
}

body > header > nav> ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white ;
    text-decoration: none;
    padding: 12px ;
    border: 1px solid white;
    border-radius: 10%;
}

.navbutton:hover {
    font-size: 1.2em;
    transition: font-size 0.3s
}

body >main article {
    width: 70%;
    margin: auto; 
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content> div {
    width: 70%;
}

form {
    text-align: center;
}

#footertitle{
    color: white;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
    text-align: center;
    background-color: orange;
    margin: 0px;
    font-family: "Fredoka One", sans-serif;
    font-size:extra xx-large;
}

body > footer {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 200px;
    padding: 20px
}

img{
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}